<!--<div ng-controller="vgfController">-->
<div>
</div>

<div class="modal-body">
    <form role="form" class="form-horizontal">

        <fieldset>
            <legend>Details</legend>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    <input type="text" id="name" name="name" class="form-control"
                           ng-model="editableVideogame.Name" />
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                    <textarea name="description" id="description" class="form-control" rows="5" cols="40"
                              ng-model="editableVideogame.Description"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="genre" class="col-sm-3 control-label">Genre</label>
                <div class="col-sm-9">
                    <select name="genre" id="genre" class="form-control"
                            ng-model="editableVideogame.GenreId"
                            ng-options="Genre.Id as Genre.Name for Genre in Genres"></select>
                </div>
            </div>
            <br />

            <div class="form-group">
                <label for="platform" class="col-sm-3 control-label">Platform</label>
                <div class="col-sm-9">
                    <select name="platform" id="platform" class="form-control"
                            ng-model="editableVideogame.PlatformId"
                            ng-options="Platform.Id as Platform.Name for Platform in Platforms"></select>
                </div>
            </div>
            <br />

            <div class="form-group">
                <label for="mediaType" class="col-sm-3 control-label">Media Type</label>
                <div class="col-sm-9">
                    <select name="mediaType" id="mediaType" class="form-control"
                            ng-model="editableVideogame.MediaTypeId"
                            ng-options="MediaType.Id as MediaType.Name for MediaType in MediaTypes"></select>
                </div>
            </div>
            <br />

            <div class="form-group">
                <label for="imageUrl" class="col-sm-3 control-label">Image Url</label>
                <div class="col-sm-9">
                    <input type="text" id="imageUrl" name="imageUrl" class="form-control"
                           ng-model="editableVideogame.ImageUrl" />
                </div>
            </div>

            <div class="form-group">
                <label for="datePurchased" class="col-sm-3 control-label">Date Purchased</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy"
                               ng-model="editableVideogame.DatePurchased" is-open="opened" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>


        </fieldset>
        <fieldset>
            <legend>Gamer Information</legend>
            <div class="form-group">
                <label for="notes" class="col-sm-3 control-label">Notes</label>
                <div class="col-sm-9">
                    <textarea name="notes" id="notes" class="form-control" rows="5" cols="40"
                              ng-model="editableVideogame.Notes"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="rating" class="col-sm-3 control-label">Rating</label>
                <div class="rating-control col-sm-5">
                    <rating name="rating" id="rating" ng-model="editableVideogame.Rating"
                            max="10" on-hover="hoveringOver(value)" on-leave="overStar = null">
                </div>
                <div class="rating-control">
                    <span class="label"
                          ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                          ng-show="overStar">{{percent}}%</span>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="currentlyPlaying"
                                   ng-model="editableVideogame.CurrentlyPlaying" />Currently Playing
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="completed"
                                   ng-model="editableVideogame.Completed" />Completed
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-default" value="Cancel"
               ng-click="cancelForm()" />
        <input type="submit" class="btn btn-primary" value="Submit"
               ng-click="submitForm()" />
    </div>
</div>
